.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../resources/portada_login.png'); /* Ruta relativa a la imagen */
    background-color: transparent;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
  }
  .header{
    margin-bottom: 50px;
  }
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vh;
    height: 50vh;
    gap: 20px
  }
